<!-- {{ orders[0] | json }} -->
<div class="container mt-4">
  <h1 class="mb-4">Orders</h1>
  <div class="row">
    <div class="col-md-2">
      

<!-- 
      <div class="col-sm-6">
        <button class="btn btn-primary"  (click)="AllArray()">All</button>
        <button class="btn btn-primary"  (click)="OnlyStatus('New')">new</button>
        <button class="btn btn-primary"  (click)="OnlyStatus('Packed')">Packed</button>
        <button class="btn btn-primary"  (click)="OnlyStatus('InTransit')">InTransit</button>
        <button class="btn btn-primary"  (click)="OnlyStatus('Delivered')">Delivered</button>
    
      </div> -->






    <div class="form-group">
      <input type="checkbox" (click)="AllArray()"  id="all" class="mr-2 ">
      <label for="all">All</label>
    </div>

    <div class="form-group">
      <input type="checkbox" (click)="OnlyStatus('New')"  id="new" class="mr-2 ">
      <label for="new">New</label>
    </div>

    <div class="form-group">
      <input type="checkbox" (click)="OnlyStatus('Packed')" id="packed" class="mr-2 ">
      <label for="packed">Packed</label>
    </div>

    <div class="form-group">
      <input type="checkbox" (click)="OnlyStatus('InTransit')"  id="inTransit" class="mr-2 ">
      <label for="inTransit">InTransit</label>
    </div>
    

    
    <div class="form-group">
      <input type="checkbox" (click)="OnlyStatus('Delivered')"  id="delivered" class="mr-2 ">
      <label for="delivered">Delivered</label>
    </div>
  
  
  
  

    </div>
    <div class="col-md-10">
       <table mat-table [dataSource]="newarra || orders" class="mat-elevation-z8 mb-4">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> id. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
       
        <ng-container matColumnDef="customerName">
          <th mat-header-cell *matHeaderCellDef> customerName </th>
          <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
        </ng-container>
      
       
        <ng-container matColumnDef="orderDate">
          <th mat-header-cell *matHeaderCellDef> orderDate </th>
          <td mat-cell *matCellDef="let element"> {{element.orderDate}} </td>
        </ng-container>
      
       
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> amount </th>
          <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>

        
        <ng-container matColumnDef="orderStatus">
          <th mat-header-cell *matHeaderCellDef> orderStatus </th>
          <td mat-cell *matCellDef="let element"> {{element.orderStatus}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table> 




      <!-- <table class="table table-bordered col-sm-10 offset-sm-2">
        <thead>
          <tr>
            <th>sr no</th>
            <th>id</th>
            <th>Customer</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of newarra  || orders ;index as i" >
            <td>{{ i+1}}</td>
            <td>{{ item.id }}</td>
            <td>{{ item.customerName }}</td>
            <td>{{ item.orderDate }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.orderStatus }}</td>
          </tr>
        </tbody>
      </table> -->
    </div>
  </div>
</div>