
input{
    width: 20px;
    height: 20px;
}

table td{
    
    padding: 20px;
}
table{
    // width: 110%;
    text-align: center;
}

.mat-header-cell {
    /* font-size: 12px; */
    
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
    color: #000;
    font-weight: 900;
}