
<div class="container mt-4">
  <h1>Products</h1>
  <div class="row">
    <div class="col-sm-2">
      <h2>Filter</h2>
      <h3>Count : {{products.length}}</h3>
      <!-- <p>Expire checkbox <span><button class="btn btn-primary" (click)="OnExpireDate()">expired</button></span></p> -->
      <!-- <p>lowStock checkbox <span><button class="btn btn-primary" (click)="LowStock()">LowStock</button></span></p> -->
      
      <div class="form-group">
        <input type="checkbox" (click)="LowStock()"  id="LowStock" class="mr-2 ">
        <label for="LowStock">LowStock</label>
      </div>
      
      <div class="form-group">
        <input type="checkbox" (click)="OnExpireDate()" id="expired" class="mr-2">
        <label for="expired">Expired</label>
      </div>

    </div>


    <!-- ['id', 'medicineName', 'medicineBrand', 'expiryDate', 'unitPrice', 'stock']; -->
    <div class="col-sm-10">
     <div  class="table-responsive">
      <table mat-table [dataSource]="products" class="mat-elevation-z8 mb-4">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="medicineName">
          <th mat-header-cell *matHeaderCellDef> Product Name </th>
          <td mat-cell *matCellDef="let element"> {{element.medicineName}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="medicineBrand">
          <th mat-header-cell *matHeaderCellDef> Product Brand </th>
          <td mat-cell *matCellDef="let element"> {{element.medicineBrand}} </td>
        </ng-container>
      
        <ng-container matColumnDef="expiryDate">
          <th mat-header-cell *matHeaderCellDef> Expiry Date</th>
          <td mat-cell *matCellDef="let element"> {{element.expiryDate}} </td>
        </ng-container>


        <ng-container matColumnDef="unitPrice">
          <th mat-header-cell *matHeaderCellDef> Unit Price </th>
          <td mat-cell *matCellDef="let element"> {{element.unitPrice}} </td>
        </ng-container>

        
        <ng-container matColumnDef="stock">
          <th mat-header-cell *matHeaderCellDef> stock </th>
          <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
        </ng-container>

      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
     </div>
      
      
      




<!-- 

      <table class="table table-bordered col-sm-10 offset-sm-2">
        <thead>
          <tr>
            <th>sr no</th>
            <th>id</th>
            <th>Product Name</th>
            <th>Product Brand</th>
            <th>Expiry Date</th>
            <th>Unit Price</th>
            <th>stock</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of products;index as i ">
            <td>{{ i+1}}</td>
            <td>{{ item.id }}</td>
            <td>{{ item.medicineName }}</td>
            <td>{{ item.medicineBrand }}</td>
            <td>{{ item.expiryDate }}</td>
            <td>{{ item.unitPrice }}</td>
            <td>{{ item.stock }}</td>
          </tr>
        </tbody>
      </table> -->

    </div>


  </div>
  <!-- {{products[0] |json}} -->
</div>